<div>
    <ul>
      <p class="paragraph-light filter">Overview</p>
      <p class="paragraph-light filter">Active</p>
      <p class="paragraph-light filter">Paid and shipped</p>
      <div class="divider filter"></div>
      <p class="paragraph-light filter">Cancellations</p>
      <p class="paragraph-light filter">Returns</p>
      <div class="divider filter"></div>
    </ul>
  </div>
<div style="width: 100%">
  <div class="nav-item-wrapper">
    <div class="item-listing-wrapper">
      <div class="summary-filter">
        <span>
          <h3>0</h3>
          <p class="paragraph-small">Active</p>
        </span>
        <span>
          <h3>0</h3>
          <p class="paragraph-small">Sold</p>
        </span>
        <span>
          <h3>0</h3>
          <p class="paragraph-small">Unsold</p>
        </span>
        <span>
          <h3>$00.00</h3>
          <p class="paragraph-light">90-day total</p>
        </span>
        <span class="button-wrapper">
          <a href="/create-listing">
            <button class="list-button" mat-button>
              List an Item
            </button>
          </a>
        </span>
      </div>
      <div class="table-wrapper">
        <table class="tg" cellspacing="0" cellpadding="0">
          <tr>
            <th class="col-img-wrapper">Photo</th>
            <th class="table-col xl">Title</th>
            <th class="table-col">Price</th>
            <th class="table-col">Quantity</th>
            <th class="table-col">Views</th>
          </tr>
          <tr>
            <td class="img-wrapper">
              <img
                class="listing-image"
                src="../../../../assets/paul-volkmer-AZf7DL-8Qhk-unsplash.jpg"
              />
            </td>
            <td class="item-desc">Jordan 1 "Off white"</td>
            <td>$299.99</td>
            <td>50</td>
            <td>28</td>
          </tr>
          <tr>
            <td class="img-wrapper">
              <img
                class="listing-image"
                src="../../../../assets/paul-volkmer-AZf7DL-8Qhk-unsplash.jpg"
              />
            </td>
            <td>Jordan 1 "Off white"</td>
            <td>$299.99</td>
            <td>50</td>
            <td>28</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>