<div class="splash-container">
    <div class="image"></div>
    <div class="title">
      <span>
        <h2>Buy and Sell on the LOT</h2>
        <button mat-button>
          <a href="/auth" style="color: white;">Create an Account</a> </button>
      </span>
    </div>
    <div class="description">
      <span>
        <h5>Can't find what you're Looking for?</h5>
        <p class="paragraph-small">Let us know,</p>
        <p class="paragraph-small">We'll put the word out</p>

      </span>

    </div>
  
</div>
<div>
  <div class="center-header">
    <h3 class="heading">Shop By Category</h3>
  </div>
  <div class="content-grid">
    <a href="/browse?category=shoes">
      <div class="category footwear">
        <div class="wrapper">
          <img class='category-image' src="../../assets/balency.png" alt="">
          <p class="paragraph-small">Footwear</p>  
        </div>
      </div>
    </a>
      <a href="/browse?category=apparel">
        <div class="category streetwear">
          <div  class="wrapper">
            <img class='category-image' src="../../assets/hoodie.png" alt="">
            <p class="paragraph-small">Streetwear</p>
          </div>
        </div>
      </a>
     <a href="/browse?category=accessories">
      <div class="category accessories">
        <div class="wrapper">
          <img class='category-image' src="../../assets/baseball-hat.png" alt="">
          <p class="paragraph-small">Accessories</p>
  
        </div>
        
      </div>
    </a>
      
</div>
</div>
<div class="feature-container">
  <div class="p1">
    <div class="s1">
      <div class="center-header">
        <h3 class="heading">Featured Sellers</h3>
      </div>
      <div class="content-row">
        <div>
          <div class="seller-image"></div>
          <p>Yeaaadat</p>
        </div>
        <div>
          <div class="seller-image"></div>
          <p>Yeaaadat</p>
        </div>
        <div>
          <div class="seller-image"></div>
          <p>Yeaaadat</p>
        </div>
        <div>
          <div class="seller-image"></div>
          <p>Yeaaadat</p>
        </div>
      </div>
    </div>
  
  <!-- <div class="p2">
    <div class="s1">
      <h3>Can't find what your looking for?</h3>
      <h4>Let us know, we'll put the word out.</h4>
      <p>No hassle, no gimmicks, a deal's one request away!</p>
      <p>BUTTON HERE!!</p>
    </div>
  </div>

</div>
<div class="p3">
  <div class="carousel-container">
    <img src="../assets/IMG_3531.jpg"/>
    
    <div class="cover">
      <div class="message">
        <h3>Lock In!</h3>
        <p>If the fit ain't looking right. Somebody's cooking you. And it's probably this guy</p>
      </div>
    </div>
  </div>
  
  <div class="content"></div>
</div>
</div> -->

<!-- <div class="s2">
  <div id="recently-posted">
    <div class="title">
      <h3 class="left-header">Recently Sold</h3>
      <p class="left-subheading">Becuase you were sleeping</p>
    </div>
    <div class ="content-row">
      <app-thumbnail-item></app-thumbnail-item>
      <app-thumbnail-item></app-thumbnail-item>

      <app-thumbnail-item></app-thumbnail-item>
      <app-thumbnail-item></app-thumbnail-item>

      <app-thumbnail-item></app-thumbnail-item>

    </div>
  </div>
</div> -->
<app-footer></app-footer>