.wrapper{
  display: flex;
  flex-direction: row;
  width: 90%;
  min-height: 85%;
  margin:auto
}

.container-left{
  position: relative;
  width: 50%;
  .title-container{
    margin-top: 40%;

    a{
      right:0;
    }
  }
}

h3{
  font-weight: bolder;
  font-size: 50px;
  color: #5A57FF
}

h1{
  font-weight: bolder;
  font-size: 80px;
  color: #B8B8B8;
  
}

h1::before{
  content: 'CLOTHING';
    font-size: 80px;
    animation-name: head;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes head {
  0% { opacity:1;}
  25% { opacity:0;}
  50% { opacity:1;}
  65% { opacity:0;}
  80% { opacity:1; content: "SHOES"}
  90% { opacity:0;}
  100% {opacity:1; content: "CLOTHING"}
}

.sub-container{
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  right: 0;
  width: 80%;
  margin-right: 20px;
  justify-content: space-between;

  .sub-container-right{
    padding-top: 40px;
  }
}

h5{
  font-weight: bold;
  font-size: 22px;
  color: rgba(70, 66, 255, 0.53);
}

h4{
  font-size: 36px;
  font-weight: bold;
  color: rgba(70, 66, 255, 0.89);

}

.container-right{
  background-color:rgba(245, 245, 245, 0.842);
  min-width: 50%;
  min-height: 100%;

}
