<div class="wrapper">
  <div class="container-left">
    <div class="title-container">
      <h3 class="title">SHOP</h3>
      <h1></h1>
      <a href="/browse">Browse</a>
    </div>
    <div class= 'sub-container'>
      <div class="sub-container-left">
        <h5>Featured Shop</h5>
        <h4>Foam City</h4>
      </div>
      <div class="sub-container-right"><h5>Shop now</h5></div>
    </div>
  </div>
  <div class="container-right">
    <img class="landing-image" src="../../assets/jordan5.png" alt=""/>
  </div>
</div>
