<div class="long-div">  
                <input type="text"/>
            </div>
            <div class="flexbox">
                <div class="filter-wrapper">
                    <ul>
                        <h6>Category</h6>
                        <p class="paragraph-light filter">Lifestyle ( # )</p>
                        <p class="paragraph-light filter">Running ( # )</p>
                        <p class="paragraph-light filter">Basketball ( # )</p>
                        <p class="paragraph-light filter">Golf ( # )</p>
                        <div class="divider filter"></div>
                        <h6>Gender</h6>
                        <p class="paragraph-light filter">Men</p>
                        <p class="paragraph-light filter">Women</p>
                        <div class="divider filter"></div>
                        <h6>Kids</h6>
                        <p class="paragraph-light filter">Boys</p>
                        <p class="paragraph-light filter">Girls</p>
                        <h6>Shop by price</h6>
                        <p class="paragraph-light filter">$0-$49.99</p>
                        <p class="paragraph-light filter">$50-$99.99</p>
                        <p class="paragraph-light filter">$100-$149.99</p>
                        <p class="paragraph-light filter">$150-$199.99</p>
                        <p class="paragraph-light filter">over $200</p>
            
                        <h6>Color</h6>
                        <div class="filter-grid">
                            <div class="filter-item unselected white"></div>
                            <div class="filter-item unselected black"></div>
                            <div class="filter-item unselected grey"></div>
                            <div class="filter-item unselected red"></div>
                            <div class="filter-item unselected blue"></div>
                            <div class="filter-item unselected purple"></div>
                            <div class="filter-item unselected yellow"></div>
                            <div class="filter-item unselected white"></div>
            
                        </div>
                        <h6>Size</h6>
                        <div class="size-grid">
                            <div class="option"><p>5</p></div>
                            <div class="option"><p>6</p></div>
                            <div class="option"><p>7</p></div>
                            <div class="option"><p>8</p></div>
                            <div class="option"><p>9</p></div>
                            <div class="option"><p>10</p></div>
                            <div class="option"><p>11</p></div>
                            <div class="option"><p>12</p></div>
                            <div class="option"><p>5</p></div>
                            <div class="option"><p>6</p></div>
                            <div class="option"><p>7</p></div>
                            <div class="option"><p>8</p></div>
                            <div class="option"><p>9</p></div>
                            <div class="option"><p>10</p></div>
                            <div class="option"><p>11</p></div>
                            <div class="option"><p>12</p></div>
                          </div>
                    </ul>
                </div>
                <div class="item-list">
                    <div class="item-flexbox-filter">
                        <mat-form-field class="form-field-xl">
                            <mat-label>Sort By</mat-label>
                            <select matNativeControl required>
                              <option value="all">All orders(*)</option>
                              <option value="unpaid">Awaiting Payment</option>
                              <option value="unshipped">Awaiting Shipment</option>
                              <option value="fulfilled">Paid and Shipped</option>
                              <option value="cancelled">Cancellations</option>
                              <option value="returned">Returns</option>
                            </select>
                          </mat-form-field>
                          <mat-form-field class="form-input xl">
                            <mat-label>Status</mat-label>
                            <select matNativeControl>
                              <option value="all">Active</option>
                              <option value="unpaid">Fulfilled</option>
                            </select>
                          </mat-form-field>
                          <mat-form-field class="form-input xl">
                            <mat-label>Brands</mat-label>
                            <select matNativeControl required>
                              <option value="all">Jordan</option>
                              <option value="unpaid">Adidas</option>
                              <option value="unshipped">Balenciaga</option>
                            </select>
                          </mat-form-field>
                    </div>
                    <div class="results">Results: # ( 1 - # )</div>
                    <div style="min-height: 800px; margin-top: 50px;" >
                      <a href="/dashboard/buy-details">
                        
                        <div class='card-wrapper' *ngFor="let order of buyOrders">
                          <div style="display: flex; flex-direction: row; margin: 5px 5px;">
                            <div class="icon-generic">
                             <p>
                              HH
                             </p> 
                            </div>
                            <span><p class="paragraph-light floor">
                              {{order.username}}'s looking for...
                            </p></span>
                          </div>
                          <div class="card-container">
                            <div class="card-item date">
                              <p>Feb.29 2020</p> </div>
                              <!-- TODO: Fix dynamic image lazy loading -->
                              <div class="card-item image">
                                <img class="image" src="https://stockx-360.imgix.net/adidas-Yeezy-Boost-350-V2-Cinder/Images/adidas-Yeezy-Boost-350-V2-Cinder/Lv2/img01.jpg?auto=format,compress&q=90&updated_at=1585357645&w=1000"/>
                              </div>
                            <div class="card-item name">
                              <p>{{order.indexItem.name}}</p>
                              <div>Active</div>
                            </div>
                            <div class="card-item" >${{order.price}}</div>
                            <!-- <div  class="card-item">Views</div> -->

                          </div>
                        </div>
                      </a>
                        
                    </div>
                </div>
            </div>
      
