<div class="loginbox">
    <mat-tab-group mat-align-tabs="center" dynamicHeight>
        <mat-tab label="Sign In">
            <div class="auth-container">
                <mat-form-field class="form-input">
                    <mat-label>Username </mat-label>
                    <input  matInput style="width: 200px" />
                  </mat-form-field>  
                  <mat-form-field>
                    <mat-label>password </mat-label>
                    <input matInput style="width: 200px" />
                  </mat-form-field> 
                  <div class="button-wrapper">
                    <button class="signIn" mat-button>Sign In</button>
                  </div>
                  
                  <a href='/'><p>Forgot your password?</p></a>
            </div>
                  </mat-tab>
        <mat-tab label="Register" >
            <div *ngIf="continueClicked === false; else elseBlock" class="auth-container">
                <mat-form-field class="form-input">
                    <mat-label>Username </mat-label>
                    <input  matInput style="width: 200px" />
                  </mat-form-field>  
                  <mat-form-field>
                    <mat-label>Email </mat-label>
                    <input matInput style="width: 200px" />
                  </mat-form-field> 
                  <mat-form-field>
                    <mat-label>Password </mat-label>
                    <input matInput style="width: 200px" />
                  </mat-form-field> 
                  <div class="button-wrapper">
                    <button class="signIn" mat-button (click)="continue()">Continue</button>
                  </div>
            </div>
            <ng-template #elseBlock>
                <div class="left-auth-container">
                    <mat-form-field class="form-input">
                        <mat-label>Address </mat-label>
                        <input  matInput style="width: 200px" />
                      </mat-form-field>  
                      <mat-form-field class='form-input'>
                        <mat-label>Apartment/Suite </mat-label>
                        <input matInput style="width: 200px" />
                      </mat-form-field> 
                      <br/>
                      <mat-form-field class='form-input xs'>
                        <mat-label>City </mat-label>
                        <input matInput />
                      </mat-form-field> 
                      <mat-form-field class='form-input xs'>
                        <mat-label>Zip Code </mat-label>
                        <input matInput />
                      </mat-form-field> 
                      <mat-form-field class='form-input xs'>
                        <mat-label>State </mat-label>
                        <select matNativeControl required>
                            <option value="AL">Alabama</option>
        <option value="AK">Alaska</option>
        <option value="AZ">Arizona</option>
        <option value="AR">Arkansas</option>
        <option value="CA">California</option>
        <option value="CO">Colorado</option>
        <option value="CT">Connecticut</option>
        <option value="DE">Delaware</option>
        <option value="DC">District Of Columbia</option>
        <option value="FL">Florida</option>
        <option value="GA">Georgia</option>
        <option value="HI">Hawaii</option>
        <option value="ID">Idaho</option>
        <option value="IL">Illinois</option>
        <option value="IN">Indiana</option>
        <option value="IA">Iowa</option>
        <option value="KS">Kansas</option>
        <option value="KY">Kentucky</option>
        <option value="LA">Louisiana</option>
        <option value="ME">Maine</option>
        <option value="MD">Maryland</option>
        <option value="MA">Massachusetts</option>
        <option value="MI">Michigan</option>
        <option value="MN">Minnesota</option>
        <option value="MS">Mississippi</option>
        <option value="MO">Missouri</option>
        <option value="MT">Montana</option>
        <option value="NE">Nebraska</option>
        <option value="NV">Nevada</option>
        <option value="NH">New Hampshire</option>
        <option value="NJ">New Jersey</option>
        <option value="NM">New Mexico</option>
        <option value="NY">New York</option>
        <option value="NC">North Carolina</option>
        <option value="ND">North Dakota</option>
        <option value="OH">Ohio</option>
        <option value="OK">Oklahoma</option>
        <option value="OR">Oregon</option>
        <option value="PA">Pennsylvania</option>
        <option value="RI">Rhode Island</option>
        <option value="SC">South Carolina</option>
        <option value="SD">South Dakota</option>
        <option value="TN">Tennessee</option>
        <option value="TX">Texas</option>
        <option value="UT">Utah</option>
        <option value="VT">Vermont</option>
        <option value="VA">Virginia</option>
        <option value="WA">Washington</option>
        <option value="WV">West Virginia</option>
        <option value="WI">Wisconsin</option>
        <option value="WY">Wyoming</option>
                          </select>
                      </mat-form-field> 
                      <br/>
                      <mat-form-field class='form-input'>
                        <mat-label>Phone Number </mat-label>
                        <input matInput />
                      </mat-form-field>
                      <br/>
                      <div class="button-wrapper">
                        <button class="signIn" mat-button>Register</button>
                      </div>
                </div>
                
            </ng-template>
        </mat-tab>
    </mat-tab-group>

</div>