<div class="profile-wrapper">
    <span>
        <img class="profile-image" src="../../../../assets/profile-pic.png"/>
        <h6>Michael Nsoesie</h6>
        <p class="paragraph-small">Mnsoes1</p>
        <button class="edit-button" mat-button>Edit Button</button>
    </span>
</div>
<div class="account-info">
    <div style="width:75%">
        <div style="width: 90%; margin: auto">
            <mat-tab-group>
                <mat-tab label="Orders">
                    <div style="margin-top:50px">
                        <table class="tg">
                            <tr>
                              <th class="table-col">Date</th>
                              <th class="table-col">Item</th>
                              <th class="table-col xl">Description</th>
                              <th class="table-col">Quantity</th>
                              <th class="table-col">Total</th>
                              <th class="table-col"></th>
                            </tr>
                            <tr>
                              <td class="table-data">02/27/2020</td>
                              <td class="table-data">
                                  <img />
                              </td>
                              <td class="table-data">
                                  <p class="paragraph-small">Name of item</p>
                                  <p class="paragraph-small">Color</p>
                                  <p class="paragraph-small">Size</p>
                                  <p class="paragraph-small">Price</p>
                              </td>
                              <td class="table-data">12</td>
                              <td class="table-data">$00.00</td>
                              <td class="table-data"></td>
                              
                            </tr>
                          </table>
                    </div>
                    
                </mat-tab>
                <mat-tab label="Cancellations"></mat-tab>
                <mat-tab label="Buy Orders"></mat-tab>
            </mat-tab-group>
        </div>
        
    </div>
    <div style="width: 20%; ">
        <div class="suggestion-title">
            <p class="paragraph-light">Customers also bought..</p>
        </div>
        <div class="suggestion-wrapper">
            <span>
                <img class="item-img-medium" src="../../../../assets/paul-volkmer-AZf7DL-8Qhk-unsplash.jpg" />
                <p class="paragraph-small">Shoe Name</p>
                <p class="paragraph-light">$00.00</p>
            </span>
        </div>
    </div>
</div>