<div style="width: 90%; margin: auto">
    <h4>Shopping Bag</h4>
    <div class="flex-box">
        <div style="width: 75%;">
            <table class="tg">
                <tr>
                  <th class="table-col"></th>
                  <th class="table-col">Item</th>
                  <th class="table-col xl">Description</th>
                  <th class="table-col">Quantity</th>
                  <th class="table-col">Total</th>
                  <th class="table-col"></th>
                </tr>
                <tr>
                  <td class="table-data"></td>
                  <td class="table-data">
                      <img />
                  </td>
                  <td class="table-data">
                      <p class="paragraph-small">Name of item</p>
                      <p class="paragraph-small">Color</p>
                      <p class="paragraph-small">Size</p>
                      <p class="paragraph-small">Price</p>
                  </td>
                  <td class="table-data">12</td>
                  <td class="table-data">$00.00</td>
                  <td class="table-data"></td>
                  
                </tr>
              </table>
        </div>
        <div style="width: 370px; height:300px; background-color: #ccc;"></div>
    </div>
</div><app-footer></app-footer>