<div class="dialog-content">
  <h1 mat-dialog-title>The LOT</h1>
  <br/>
  <mat-dialog-content class="mat-typography">
    <h2>Hi {{ data.name }}!</h2>
    <h4>Your account has been successfully created</h4>
    <p>
      At the LOT we value each and every customer and appreciat you joining our
      growing community!!
    </p>
    <p>What would you like to do today?</p>
  </mat-dialog-content>
</div>
<br/>
<br/>
<mat-dialog-actions align="center">
  <button mat-button mat-dialog-close>
    <a href="/dashboard">Go to Account</a>  
    </button>
  <button mat-flat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial >
   <a href="/create-store" style="color: white">
    Open up Shop
   </a> 
  </button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
    <a href="/browse">Browse
    </a>  
    </button>
</mat-dialog-actions>
