

<div class="wrapper">
    <div class='status-container'>
        <div class="status">Active</div>

    </div>
    <div class="image-grid">
        <div class="product-image"></div>
        <div class="product-image"></div>
        <div class="product-image"></div>
        <div class="product-image"></div>

    </div>
    <div class="flexbox">
        <div class="left">
            <label for="Tom Sauyer">From</label><h6>Tom Suayer's looking for</h6>
            <h4>Vapor max anythings</h4>
            <h6>$299.99</h6>
            <div class="divider"></div>
            <h6>Size 12</h6>
            <p class="paragraph-small">Box Not Necessary</p>
            <p class="paragraph-small">Condition</p>
        </div>
        <div class="right">
            <div class="container">
                <button mat-button class='blue'>Accept</button>
                <button mat-button class='white'>Counter</button>

            </div>
        </div>
    </div>

</div>