<div class='category-splash'>
    <img src="../../../assets/clothing-frame.png" alt="">
    <span >
        <p>At the Lot we provide listings from trusted sellers in our area
            and vow that whatever you can’t find in a search we can find through the connect. </p>
        <h2>Apparel</h2>
        <div class="divider"></div>
    </span>
    
</div>
<div class="divider"></div>

<div class="filtered-browse-wrapper">

    <div class="filter-wrapper">
        <ul>
            <p class="paragraph-light filter">Lifestyle ( # )</p>
            <p class="paragraph-light filter">Jordan ( # )</p>
            <p class="paragraph-light filter">Running ( # )</p>
            <p class="paragraph-light filter">Basketball ( # )</p>
            <p class="paragraph-light filter">Golf ( # )</p>
            <div class="divider filter"></div>
            <h6>Gender</h6>
            <p class="paragraph-light filter">Men</p>
            <p class="paragraph-light filter">Women</p>
            <div class="divider filter"></div>
            <h6>Kids</h6>
            <p class="paragraph-light filter">Boys</p>
            <p class="paragraph-light filter">Girls</p>
            <h6>Shop by price</h6>
            <p class="paragraph-light filter">$0-$49.99</p>
            <p class="paragraph-light filter">$50-$99.99</p>
            <p class="paragraph-light filter">$100-$149.99</p>
            <p class="paragraph-light filter">$150-$199.99</p>
            <p class="paragraph-light filter">over $200</p>

            <h6>Color</h6>
            <div class="filter-grid">
                <div class="filter-item unselected white"></div>
                <div class="filter-item unselected black"></div>
                <div class="filter-item unselected grey"></div>
                <div class="filter-item unselected red"></div>
                <div class="filter-item unselected blue"></div>
                <div class="filter-item unselected purple"></div>
                <div class="filter-item unselected yellow"></div>
                <div class="filter-item unselected white"></div>

            </div>
            <h6>Size</h6>
            <div class="size-grid">
                <div class="option"><p>5</p></div>
                <div class="option"><p>6</p></div>
                <div class="option"><p>7</p></div>
                <div class="option"><p>8</p></div>
                <div class="option"><p>9</p></div>
                <div class="option"><p>10</p></div>
                <div class="option"><p>11</p></div>
                <div class="option"><p>12</p></div>
                <div class="option"><p>5</p></div>
                <div class="option"><p>6</p></div>
                <div class="option"><p>7</p></div>
                <div class="option"><p>8</p></div>
                <div class="option"><p>9</p></div>
                <div class="option"><p>10</p></div>
                <div class="option"><p>11</p></div>
                <div class="option"><p>12</p></div>
              </div>
        </ul>
    </div>
    <div class="column-box">
        <!-- <ng-container [ngSwitch]="activeParam" >
            <div  *ngSwitchCase="'apparel'" class="title-line">
                <h2>Apparel</h2>

            </div>
        </ng-container> -->
        <div class ="content-row" >
            <app-thumbnail-item *ngFor="let listing of resultSet" [data]="listing"></app-thumbnail-item>
            
          </div>

    </div>
    
</div>
<mat-paginator [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>