<div style="width: 100%;background-color: transparent; 
">
  <div class='navigation-container'>
    <div class="navigation-left">
      <div class="logo-wrapper">
        <div class="logo-image"></div>
        <span class="logo">
          <a class='text' href='/'>
            The LOT
          </a>
        </span>
      </div>
      
      <span class="navigation-text">
        <a class="medium" href="/footwear">Shoes</a>
      </span>
      <span class="navigation-text">
        <a class="medium" href="/apparel">Apparel</a>
      </span>
      <span class="navigation-text">
        <a class="medium" href="/accessories">Accessories</a>
      </span>
    </div>
    <div class="navigation-right">
      <span class="navigation-text">
        <a class="medium" href="/browse">Browse</a></span>
        <span class="navigation-text search">
          <input #searchText class="search-bar" placeholder="Search the site..."/>
          <div (click)="submitSearch(searchText.value)">
            <fa-icon [icon]='searchIcon' size='lg'></fa-icon>
          </div>
        </span>
      
      <span *ngIf="user === null; else elseBlock" class="navigation-text"><a href="/auth" class="medium">Login</a></span>
      <ng-template #elseBlock>
        <app-account-options class="navigation-text"></app-account-options>
      </ng-template>
      <span class="navigation-text">
        <a href="/cart" class="medium" >Cart</a>
        
      </span>
    </div>
  </div>
</div>
  <div class="div-block">
  </div>
 <router-outlet></router-outlet>
 <!-- <div class="footer-container">
   hi
 </div> -->
