<div style="width: 100%;background-color: #252525; 
">
  <div class='navigation-container'>
    <div class="navigation-left">
      <div class="logo-image"></div>
      <span class="logo">
        <a class='text' href='/'>
          The LOT
        </a>
      </span>
      <span class="navigation-text">
        <a class="medium" href="/browse?category=shoes">Shoes</a>
      </span>
      <span class="navigation-text">
        <a class="medium" href="/browse?category=apparel">Apparel</a>
      </span>
      <span class="navigation-text">
        <a class="medium" href="/browse?category=accessories">Accessories</a>
      </span>
    </div>
    <div class="navigation-right">
      <span class="navigation-text">
        <a class="medium" href="/browse">Browse</a></span>
      <input class="search-bar"/>
      <span class="navigation-text"><a href="/auth" class="medium">Login</a></span>
      <span class="navigation-text">
        <a href="/cart" class="medium">Cart</a></span>
    </div>
  </div>
</div>
  <div class="div-block">
    <div class="columns-3 w-row">
      <div class="column item w-col w-col-2">
        
        <div class="text-block">
          <a href="/browse?brand=nike" class="light">Nike</a>
        </div>
      </div>
      <div class="column item w-col w-col-2">
        <div class="text-block">
          <a href="/browse?brand=adidas" class="light">Adidas</a>
        </div>
      </div>
      <div class="column item w-col w-col-2">
        <div class="text-block">
          <a href="/browse?brand=jordan" class="light">Jordan</a>
        </div>
      </div>
      <div class="column item w-col w-col-2">
        <div class="text-block">
          <a href="/browse?brand=puma" class="light">Puma</a>
        </div>
      </div>
      <div class="column item w-col w-col-2">
        <div class="text-block">
          <a href="/browse?brand=balenciaga" class="light">Balency</a>
        </div>
      </div>
      <div class="column item w-col w-col-2">
        <div class="text-block">
          <a href="/browse?brand=yeezy" class="light">Yeezy</a>
        </div>
      </div>
    </div>
  </div>
 <router-outlet></router-outlet>

 <!-- <div class="footer-container">
   hi
 </div> -->
