<div style="width: 100%;background-color: #252525; 
">
  <div class='navigation-container'>
    <div class="navigation-left">
      <div class="logo-image"></div>
      <span class="logo">
        The LOT
      </span>
      <span class="navigation-text">
        <a class="medium" href="/">Shoes</a>
      </span>
      <span class="navigation-text">
        <a class="medium" href="/">Apparel</a>
      </span>
      <span class="navigation-text">
        <a class="medium" href="/">Accessories</a>
      </span>
    </div>
    <div class="navigation-right">
      <span class="navigation-text">
        <a class="medium" href="/">Browse</a></span>
      <input class="search-bar"/>
      <span class="navigation-text"><a href="/" class="medium">Login</a></span>
      <span class="navigation-text">
        <a href="/" class="medium">Cart</a></span>
    </div>
  </div>
</div>
  <div class="div-block">
    <div class="columns-3 w-row">
      <div class="column item w-col w-col-2">
        
        <div class="text-block">
          <a href="/" class="light">Nike</a>
        </div>
      </div>
      <div class="column item w-col w-col-2">
        <div class="text-block">
          <a href="/" class="light">Adidas</a>
        </div>
      </div>
      <div class="column item w-col w-col-2">
        <div class="text-block">
          <a href="/" class="light">Jordan</a>
        </div>
      </div>
      <div class="column item w-col w-col-2">
        <div class="text-block">
          <a href="/" class="light">Puma</a>
        </div>
      </div>
      <div class="column item w-col w-col-2">
        <div class="text-block">
          <a href="/" class="light">Balency</a>
        </div>
      </div>
      <div class="column item w-col w-col-2">
        <div class="text-block">
          <a href="/" class="light">Yeezy</a>
        </div>
      </div>
    </div>
  </div>
  <div class="splash-container">
      <div class="image"></div>
      <div class="description">
        <span>
          <h2>Buy and Sell on The LOT</h2>
          <button>Create an account</button>
        </span>

      </div>
    
  </div>
  <div class="feature-container">
    <div class="p1">
      <div class="s1">
        <div class="center-header">
          <h3 class="heading">Featured Sellers</h3>
        </div>
        <div class="content-row">
          <div>
            <div class="seller-image"></div>
            <p>Yeaaadat</p>
          </div>
          <div>
            <div class="seller-image"></div>
            <p>Yeaaadat</p>
          </div>
          <div>
            <div class="seller-image"></div>
            <p>Yeaaadat</p>
          </div>
          <div>
            <div class="seller-image"></div>
            <p>Yeaaadat</p>
          </div>
        </div>
      </div>
      
      <div id="recently-posted">
        <div class="title">
          <h3 class="left-header">Recently Posted</h3>
          <p class="left-subheading">Don't miss out on a new deal!</p>
        </div>
      </div>
    </div>
    <div class="container">
      
      <div class="content"></div>
    </div>
    <div class="container">
      <div class="title">
        <h3 class="heading">Featured Sellers</h3>
        <p>Becuase you were sleeping</p>
      </div>
      <div class="content"></div>
    </div>
  </div>

 <div class="footer-container">
   hi
 </div>
