<div class="container w-container">
  <a href="/details/{{data._id}}?name={{data.name}}">
    <div class="div-block">
      <div class="image-container">
        <span class="helper"></span>
        <img [src]="data.indexItem.imageUrl"/>
      </div>
      <div class="description-container">
        <div class="w-layout-grid grid">
          <div class='left-content'>
              <p class="main"></p>
              <p class="sub-content">{{data.name}}</p>

              <p class="sub-content">{{data.brand}}</p>

            </div>
            
          <div id="price" class="right-content">
              <p class="main">
                {{data.price}}
              </p></div>
              
          
        </div>
      </div>
    </div>
  </a>
    
  </div>