<div class="container w-container">
  <a href="/details">
    <div class="div-block">
      <div class="image-container"></div>
      <div class="description-container">
        <div class="w-layout-grid grid">
          <div class='left-content'>
              <p class="main">Shoe name</p>
              <p class="sub-content">Shoe name</p>

              <p class="sub-content">Shoe name</p>

            </div>
            
          <div id="price" class="right-content">
              <p class="main">
                $99
              </p></div>
              
          
        </div>
      </div>
    </div>
  </a>
    
  </div>