.w-layout-grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }
  
  .container {
    // height: 400px;
  }
  
  .div-block {
    width: 330px;
    height: 450px;
  }
  
  .image-container {
    height: 400px;
    width: 330px;
    margin-bottom: 4px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
  }
    img{
      vertical-align: middle;
      width: 100%;
    }
  }
  
  .grid {
    -ms-grid-columns: 2.25fr 1fr;
    grid-template-columns: 2.25fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .left-content{
      justify-self: start;
      height: 16px;
      .main{
        padding:0px;
        margin:0px;
        font-size: 12px;
        color: black;
      }

  }

  .sub-content{
    padding:0px;
    margin:0px;
    font-size: 12px;
      color: rgb(202, 202, 202);
  }
  
.price {
    -ms-grid-column-align: end;
  }

  .right-content{
      justify-self: end;
      height: 12px;
      p{
        font-size: 12px;
        padding:0px;
        margin:0px;
      }

  }

  a{
    text-decoration: none;
  }
