.wrapper{
    padding: 40px;
    min-height: 800px;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.heading-jumbo-small {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
    text-transform: none;
}
.left-container{
   
    height: 100%;
    background-color: black;
}

.right-container{
}

.container-content{
    padding: 20px;
    text-align: left;
}

.button-container{
    width: 100%;
}

.mat-form-field{
    width: 60%;
    border-radius: 4px;
    padding: 5px;
    margin: 10px 10px;
    padding: 0px;
}

.mat-form-field.xs{
    width: 30%;
}

.black-button{
    width: 300px;
    height: 50px;
    background: #212121;
    color: white;
    margin-left: 40px;
    border-radius: 5px;
    }