.category-filter{
    width: 60%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    padding: 5px;
    margin: auto;
    font-weight: bold;
   p{
    font-size: medium;
    color: black
   }
}