

.section.cc-product-detail {
    display: flex;
    width: 80%;
    margin:auto;
    background-color: white;
    padding: 60px;
   
    
}

.section {
    margin-right: 30px;
    margin-left: 30px;
}

.image-grid{
    width: 100%;

}
// .image-grid{
//     width: 100%;
//     display:grid;
//     margin: auto;
//     justify-content: center;
//     grid-template-columns: repeat(auto-fill, 350px);
//     grid-row: auto auto;
//     grid-column-gap: 10px;
//     grid-row-gap: 10px;
// }

.highlighted-image{
    width: 80%;
    height: 70%;
    display: block;
    margin: auto;
    align-self: center;
    text-align: center;
}

.product-image {
    display: flex;
    height: 500px;
    cursor: pointer;
    min-height: 400px;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);
    background-image: url('../../assets/paul-volkmer-AZf7DL-8Qhk-unsplash.jpg');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.row{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    .thumbnail-small{
        width: 60px;
        height: 60px;
        border-radius:  5px;
        border: 1px solid #444444;
        margin-right: 10px;
        cursor: pointer;
    }
}


.product-details-wrap {
    width: 35%;
    max-width: 470px;
    margin-bottom: 20px;
    top:0;
    margin-left: 10px;
    .category-price{
        display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
    .title{
        font-weight: bold;
    }
    .color{
        
    }
    .quantity{

    }
    .size-select{
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        .option{
            display: table;
            width: 40px;
            height: 30px;
            margin-top:10px;
            border-radius:  5px;
            border: 1px solid #747474;
            color: #747474;
            margin-right: 10px;
            cursor: pointer;
            text-align: center;
            align-items: center;
            transition: .2s ease-in-out;
        }
        .option:hover{
            background-color: #e0e0e0
        }
    }
    .description{

    }
}


.divider {
    height: 1px;
    background-color: rgb(238, 238, 238);
}
.divider.cc-dark-divider {
    height: 1px;
    background-color: rgb(32, 32, 32);
}


.w-list-unstyled {
    padding-left: 0;
    list-style: none;
}
.list-item {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
}
ul {
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 40px;
    list-style-type: disc;
}
li {
    margin-bottom: 10px;
}



.add-to-cart {
    margin-top: 30px;
}


.button {
    margin-top: 10px;
    padding: 15px 25px;
    border-radius: 0px;
    border-radius: 5px;
    background-color: #1a1b1f;
    width: 90%;
    -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.radio-group{
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}
