<div class="section cc-product-detail">
    <div class="product-image"></div>
    <div class="product-details-wrap">
      <div class="product-detail-main-details">
        <h1 class="product-detail-name">Jordan 13 shoes</h1>
        <div class="product-detail-price">$140.99</div>
        <div class="paragraph-light">basic description of the item</div>
      </div>
      <div class="divider cc-dark-divider"></div>
      <div class="product-informations">
        <ul class="w-list-unstyled">
          <li class="list-item">
            <div class="paragraph-light">Dimensions</div>
            <div class="product-detail-measurement">
              <div></div>
              <div class="product-detail-unit-text cc-middle-text">in x</div>
              <div></div>
              <div class="product-detail-unit-text cc-middle-text">in x</div>
              <div></div>
              <div class="product-detail-unit-text">in</div>
            </div>
          </li>
          <li class="list-item">
            <div class="paragraph-light">Weight</div>
            <div class="product-detail-measurement">
              <div></div>
              <div class="product-detail-unit-text">oz</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="divider"></div>
      <form data-node-type="commerce-add-to-cart-form" class="w-commerce-commerceaddtocartform"><label for="quantity-3f8ec8b146ca9ed4b1d9cb3082673eb" class="label">Sizes</label>
        <div class="product-detail-cta-wrap"><input type="number" id="quantity-3f8ec8b146ca9ed4b1d9cb3082673eb9" name="commerce-add-to-cart-quantity-input" min="1" class="w-commerce-commerceaddtocartquantityinput text-field cc-quantity-field" value="1"><input type="submit" value="Add To Cart" class="w-commerce-commerceaddtocartbutton button"></div>
      </form>
      <div class="divider"></div>
      <div class="add-to-cart">
        <form data-node-type="commerce-add-to-cart-form" class="w-commerce-commerceaddtocartform"><label for="quantity-3f8ec8b146ca9ed4b1d9cb3082673eb" class="label">Quantity</label>
          <div class="product-detail-cta-wrap"><input type="number" id="quantity-3f8ec8b146ca9ed4b1d9cb3082673eb9" name="commerce-add-to-cart-quantity-input" min="1" class="w-commerce-commerceaddtocartquantityinput text-field cc-quantity-field" value="1"><input type="submit" value="Add To Cart" class="w-commerce-commerceaddtocartbutton button"></div>
        </form>
        <div style="display:none" class="w-commerce-commerceaddtocartoutofstock status-message">
          <div>This product is out of stock.</div>
        </div>
        <div data-node-type="commerce-add-to-cart-error" style="display:none" class="w-commerce-commerceaddtocarterror">
          <div class="w-add-to-cart-error-msg" data-w-add-to-cart-quantity-error="Product is not available in this quantity." data-w-add-to-cart-general-error="Something went wrong when adding this item to the cart.">Product is not available in this quantity.</div>
        </div>
      </div>
    </div>
  </div>