<app-category-filter></app-category-filter>
<app-loader></app-loader>
<div *ngIf="itemDetails.length > 0" class="section cc-product-detail">
  <div style="width:75%">
    <div class="image-grid">
      <img [src]="itemDetails[0].indexItem.imageUrl" alt="image here" class="highlighted-image"/>
      

    </div>
    <div class="row">
      <!-- TODO: Convert to ng for and add logic to switch images. -->
      <img [src]="itemDetails[0].indexItem.imageUrl" class='thumbnail-small'/>
      
    </div>
  </div>
   
    <div class="product-details-wrap">
      <div class="category-price">
        <p class="paragraph-light">Men's athletic sneaker</p>
        <p class="paragraph-small" style="font-weight: bold;">{{itemDetails[0].price}}</p>
      </div>
      <div class='title'>
        <h3>{{itemDetails[0].name}}</h3>
      </div>
        <p class="paragraph-small" style="font-weight: 400;">Select Size</p>
        <div class="size-select">
          <div *ngFor="let item of itemDetails[0].details.stock" (click)="highlightSize(item.size)" class="option"><p>{{item.size}}</p></div>
        </div>
        <p class="paragraph-small" style="font-weight: 400;">Color</p>
        <mat-form-field>
          <mat-label>Choose a Color</mat-label>

          <mat-select *ngIf="!highlightedColors; else showDetailedColors">
            <!-- TODO: Enforce validation from the selected color to the selected size
            Meaning a user shouldn't be able to choose a size that doesnt relate to a color and vise versa -->
            <mat-option *ngFor="let items of itemDetails[0].details.stock" [value]="items.color">{{items.color}}</mat-option>

          </mat-select>
          <ng-template #showDetailedColors>
            <mat-select>
              <mat-option *ngFor="let color of highlightedColors" [value]="color">{{color}}</mat-option>
            </mat-select>
          </ng-template>
        </mat-form-field>
        <div class="divider"></div>
         <p class="paragraph-small">
           Shipping
         </p>
        <mat-radio-group class='radio-group' aria-label="Select an option">
          <mat-radio-button value="Express">
            <p>Express - $14.99</p>
          </mat-radio-button>
          <mat-radio-button value="Express">
            <p>Standard - $7.99</p>
          </mat-radio-button>
          <mat-radio-button value="Express">
            <p>Express - $14.99</p>
          </mat-radio-button>
        </mat-radio-group>
        <div class="divider"></div>
        <button (click)="addtoCart()" class="button" mat-button>Add to Cart</button>
        <div style="margin-top: 30px">
          <p class="paragraph-small">The high-top sneaker comes dressed in familiar Red, White and Black Chicago Bulls-inspired color scheme. Its branded with OFF-WHITE for Nike tagging on the medial side, along with a unique Nike Swoosh logo and “AIR” branding on the midsole</p>
        </div>
        

    </div>
  </div>
