
.footer{
    bottom: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 50px;
    .list{
      display: flex;
      flex-direction: column;
    }
    .logo-container{
      width: 10%
    }
  }
  
