<div class="footer">
    <div class='logo-container'>
      <h4 style="font-weight: bolder;">The LOT</h4>
    </div>
    <div class='list'>
      <h6>Menu</h6>
      <p class="paragraph-light">Home</p>
      <p class="paragraph-light">About</p>
      <p class="paragraph-light">Contact</p>
      <p class="paragraph-light">Products</p>
      <p class="paragraph-light">Blog</p>
  
    </div>
    <div class='list'>
      <h6 >Categories</h6>
      <p class="paragraph-light">Apparel</p>
      <p class="paragraph-light">Footwear</p>
      <p class="paragraph-light">Accessories</p>
    </div>
    <div class='list'>
      <h6>Help</h6>
      <p class="paragraph-light">Shipping</p>
      <p class="paragraph-light">Returns & Exchange</p>
      <p class="paragraph-light">Product Care</p>
    </div>
    <div class='list'>
      <h6>Follow</h6>
      <p class="paragraph-light">Instagram</p>
      <p class="paragraph-light">Facebook</p>
      <p class="paragraph-light">Twitter</p>
    </div>
  </div>